body {
  display: flex;
  justify-content: center;
  font-size: 62.5%;
}
.container {
  padding: 1rem;
  width: 50%;
}
h1 {
  font-size: 3rem;
  color: gray;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 1rem;
}

.innercontainer {
  background-color: bisque;
  padding: 1rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
li a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
figure {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  padding: 1rem;
}
img {
  width: 100%;
}
#description {
  font-size: 1rem;
}
